---
layout: index.html 
---
<article class="about">
    <h1 class="hidden">About</h1>

    {{ content }}
    
    <div class="colophon">
        <p>Dancing Star Press is managed and edited by <a href="http://henryweikel.net/" target="_blank">Henry Weikel</a> and Daniel Ortiz</p>
        Logo and book design by <a href="http://laurengraycar.com" target="_blank">Lauren Graycar</a></p>
        <p>Web design by <a href="http://williampan.net/" target="_blank">William Pan</a></p>
        <p>Beneath the Riviera, California</p>
        <br/>
        <p>
            Our books are stocked at the following stores:
        </p>
        <ul>
            <li><a href="https://greenapplebooks.com/">Green Apple Books (San Francisco)</a></li>
            <li>Browser Books (San Francisco)</li>
            <li><a href="https://50wattsbooks.com/">50 Watts Books (Philadelphia)</a></li>
        </ul>
        
        <p>
    </div>
    
    <div class="email-list">
        <p>Reach us at info@dancingstar.press</p>
        <p>Sign up for our email list</p>
        <form
        action="https://buttondown.com/api/emails/embed-subscribe/dancingstarpress"
        method="post"
        target="popupwindow"
        onsubmit="window.open('https://buttondown.com/dancingstarpress', 'popupwindow')"
        class="embeddable-buttondown-form"
        >
        
        <input type="email" name="email" id="bd-email" />
        <input type="submit" value="Subscribe" />
        </form>
    </div>
</article>

<div class="portal">
    <img id="portal-image" />
    <div id="portal-image-caption"></div>
</div>

<script>
    let images = {{ images | json }}; 
    let image = images[Math.floor(Math.random() * images.length)]; 
    let elem = document.querySelector('#portal-image'); 
    elem.src = `/images/stars/${image.filename}`; 
    document.querySelector('#portal-image-caption').innerHTML = image.caption; 
</script>